<!DOCTYPE html>
<html>

<head>

<title>NexgenOps</title>

<link rel="stylesheet"
href="/static/css/style.css">

</head>
<script>

document.addEventListener(
'mousemove',
(e)=>{

document.body.style.backgroundPosition=
`${e.clientX/50}px ${e.clientY/50}px`;

});

</script>
<body>

<div class="container">

<div class="logo">

⚡ NexgenOps

</div>

<p class="tagline">

AI Powered Smart Facilities &
Operations Management Platform

</p>

<div class="button-group">

<a href="/register">

<button class="btn">

Register

</button>

</a>

<a href="/login-page">

<button class="btn">

Login

</button>

</a>

</div>

<p class="version">

Version 1.0.0

</p>

</div>

</body>

</html>